<div class="w-full max-w-md mx-auto md:mb-12 mb-8">
  <form
    id="waitlist-form"
    class="flex md:flex-row flex-col gap-3 transition-all duration-300"
  >
    <input
      type="email"
      name="email"
      placeholder="tu@email.com"
      data-i18n-placeholder="form.placeholder"
      required
      class="flex-1 px-4 py-2.5 bg-white border border-gray-300 rounded-lg text-sm outline-none focus:ring-2 focus:ring-black/10 focus:border-gray-400 transition-all shadow-sm"
    />
    
    <button
      type="submit"
      id="submit-btn"
      class="group flex items-center justify-center gap-2 rounded-xl bg-[#141414] px-5 py-2.5 text-sm font-medium text-white shadow-[inset_0px_2px_0px_0px_rgba(255,255,255,0.15)] ring-1 ring-white/5 transition-all hover:bg-[#1f1f1f] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer min-w-[140px]"
    >
      <span data-i18n="form.button">Unirse a la lista</span>
      
      <svg
        id="loading-spinner"
        class="w-4 h-4 hidden animate-spin text-gray-400"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </button>
  </form>

  <p
    id="feedback-message"
    class="hidden w-full px-4 py-3 rounded-lg text-sm font-medium text-center border transition-all shadow-sm"
  >
  </p>
</div>


<script is:inline>
  const form = document.getElementById("waitlist-form");
  const btn = document.getElementById("submit-btn");
  const btnText = btn.querySelector("span");
  const msg = document.getElementById("feedback-message");
  const spinner = document.getElementById("loading-spinner");

  if (form) {
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      btn.disabled = true;
      spinner.classList.remove("hidden");
      if (btnText) btnText.style.display = "none";
      msg.classList.add("hidden");

      const formData = new FormData(form);
      const email = formData.get("email");

      try {
        const response = await fetch("/api/waitlist", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email }),
        });

        const data = await response.json();

        if (!response.ok) {
          throw new Error(data.message || "Ocurrió un error");
        }

        form.classList.add("hidden");

        msg.textContent = data.message;
        msg.className =
          "w-full px-4 py-3 rounded-lg text-sm font-medium text-center border transition-all shadow-sm bg-green-600 border-green-700 text-white";

        msg.classList.remove("hidden");
      } catch (error) {
        msg.textContent = error.message;
        msg.className =
          "mt-3 w-full px-4 py-2 rounded-lg text-sm font-medium text-center border transition-all bg-red-50 border-red-200 text-red-600";
        msg.classList.remove("hidden");
        btn.disabled = false;
        spinner.classList.add("hidden");
        if (btnText) btnText.style.display = "inline";
      }
    });
  }
</script>
